@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: RGB(245, 245, 245);
  color: RGB(90,90,120);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 120%;
}

h1, h2 {
  color: RGB(0, 53, 89);
  font-family: 'Poppins';
  font-size: 22px;
  line-height: 120%;
}

h2 {
  font-size: 16px;
}

a {
  color: RGB(0, 53, 89);
  text-decoration: none;
}

a:hover {
  color: RGB(27, 154, 170);
}

ul {
  list-style: none;
  margin: none;
  padding-inline-start: 0px;
}

li {
  display: inline-block;
  margin: 0px 8px;
}

i {
  font-size: 30px;
}

.img-round {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  width: 800px;
  margin: 0px auto;
}

.card-white {
  background-color: white;
  padding: 25px 45px 35px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 15%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.card-links {
  background-color: white;
  padding: 10px 45px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 15%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

#btn-turquoise {
  color: RGB(255, 255, 255);
  background-color: RGB(0, 53, 89);
  padding: 8px 12px;
  border-radius: 9px;
  text-align: center;
}

#para-space {
  padding-bottom: 10px
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
